html, body {
    /*max-width so that block width gets smaller relative to window*/
    max-width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    margin: 0px !important;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.center, header div, footer div {
    margin: auto;
    margin-bottom: 0;
    width: 60%;
    padding: 10px;
}

/*header*/
header {
    z-index: 10;
    background-color: white;
    position: relative;
    box-shadow: 0px 5px 5px #888888;
}

header img[alt="Comverse Logo"] {
    width: 8rem;
    height: auto;
    margin-right: 5px;
    display: inline-block;
}

header ul {
    display: inline-block;
    padding-left: 0px;
    padding-right: 5px;
    margin-bottom: 0;
}

header ul li {
    font-size: 0.8rem;
    list-style: none;
    float: left;
    color: #888888;
}

.dropdownBtn {
    padding-right: 10px;
    padding-left: 10px;
    border-left: 1px solid #d0d0d0;
    color: #888888;
    text-decoration: none;
}

.navMenu:hover .dropdownBtn {
    position: relative;
    z-index: 2;
    padding-bottom: 17px;
    border: 1px solid #d0d0d0;
    border-bottom: 0px;
    background-color: white;
    box-shadow: px;
    color: gray;
    text-shadow: 1px 1px 1px lightgray;
}

.navMenu:hover + .navMenu .dropdownBtn {
    border-left: 0px;
}

header ul li:first-child label {
    border-left: 0;
}

header ul li:last-child label:hover {
    border-right: 1px solid #d0d0d0;
}

header ul li:hover .nav-bg {
    display: block;
}

header ul ul li {
    float: none;
    display: block;
}

.nav-bg {
    position: absolute;
    padding: 25px;
    top: 69px;
    right: 40%;
    left: 18%;
    height: 200px;
    background-color: white;
    border: 1px solid #d0d0d0;
    display: none;
}

.nav-bg li a {
    text-decoration: none;
    color: gray;
    font-size: 0.9rem;
}

.nav-bg li a:hover {
    color: #5C91BE;
}

.nav-bg img {
    padding-left: 40px;
    border-left: 1px solid #d0d0d0;
    float: right;
}

header ul li:last-child label {
    border-right: 3px solid #ffffff;
}

/*drop down*/
#search {
    float: right;
    display: inline-block;
    color: #888888;
    font-size: 0.8rem;
    width: 150px;
}

#search span {
}

#topSearch {
    width: 155px;
    font-size: 10pt;
    padding: 0;
    display: inline-block;
    margin-bottom: 10px;
}

#topSearch span {
    width: 0.8rem;
}

#bottomSearch {
    display: inline-block;
    /*don't know how to make it relative'*/
    width: 130px;
    border: 1px solid #d0d0d0;
    padding: 3px 5px;
    background-color: #fcfcfc;
    border-radius: 2em;
    border-top-left-radius: 1em;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 0.5em;
    display: inline-block;
    bottom: 20px;
}

#searchInput {
    border: 0;
    background-color: hsla(0, 0%, 0%, 0);
}

form button {
    float: right;
    border: 0;
    border-left: 1px solid #d0d0d0;
    background: none;
    color: #888888;
}

form button:hover {
    background: gainsboro;
}

#topSearch select {
    border: 0px;
    outline: 0px;
    color: #888888;
}

/*end header*/
/*start section1*/
main {
    position: relative;
}

.section1 {
    position: relative;
    overflow: hidden;
}

#slide1 {
    position: relative;
    top: 0;
    left: 0;
    height: 400px;
    background-image: url("img/slide/custom-experience.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    overflow: auto;
    transition: 1s;
}

#slide2 {
    color: white;
    display: inline;
    position: absolute;
    top: 0;
    right: -100%;
    height: 400px;
    width: 100%;
    background-image: url("img/slide/smartly-monetize.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    transition: all 300ms ease;
    overflow: auto;
}

#check2:checked + #slide2 {
    right: 0;
}

.section1 ul {
    margin: 0;
    padding: 0;
}

[name="radios"] {
    display: none;
}

#slide1 h1 {
    color: white;
    font-weight: normal;
}

#slide1 p {
    color: white;
    font-size: 0.8rem;
}

.section1AbsoluteElementsDiv {
    position: absolute;
    width: 100%;
    top: 200px;
}

.radioButtons ul {
    padding-left: 0;
}

.radioButtons li {
    position: relative;
    display: inline-block;
    cursor: pointer;
    background-color: #d0d0d0;
    width: 12px;
    height: 12px;
    border-radius: 3px 3px 3px 3px;
}

.radioButtons li a {
    position: absolute;
    width: 100%;
    height: 100%;
}

.radioButtons li a:focus label {
    background-color: #3196CF;
    border-radius: 3px 3px 3px 3px;
}

.radioButtons li label {
    position: absolute;
    width: 100%;
    height: 100%;
}

.blueBgWhiteTxtBtn {
    display: block;
    text-align: left;
    padding: 0.4rem;
    padding-right: 4px;
    font-size: 0.8rem;
    margin: 8px 4px;
    margin-bottom: 20px;
    border: 0;
    color: white;
    box-shadow: 1px 1px 2px #5C91BE;
    border-top-left-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem;
    background: linear-gradient(to left top, rgba(17, 136, 196, 0.8), rgba(49, 150, 202, 0.8));
    text-decoration: none;
}

.blueBgWhiteTxtBtn:hover {
    background: linear-gradient(to left top, rgba(17, 136, 196, 1), rgba(49, 150, 202, 1));
}

.blueBgWhiteTxtBtn img {
    position: relative;
    margin-left: 2.1rem;
    float: right;
}

.section1Boxes {
    position: relative;
    display: inline-table;
    width: 13rem;
    height: 8rem;
    text-align: left;
    padding: 0.6rem;
    padding-right: 25px;
    margin-right: 1.5rem;
    font-size: 1.2rem;
    border: 0;
    background-color: hsla(330, 97%, 63%, 0.8);
    box-shadow: 1px 1px 2px gray;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
    bottom: 0;
    color: white;
}

.section1Boxes label {
    position: absolute;
    bottom: 0.6rem;
    left: 0.6rem;
    font-size: 0.6rem;
    font-weight: bold;
}

.section1Boxes label img {
    max-width: 18px;
    height: auto;
}

#box2 {
    background-color: hsla(97, 53%, 56%, 0.8);
}

#box3 {
    background-color: hsla(30, 79%, 55%, 0.8);
}

#box1:hover {
    background-color: hsla(330, 97%, 63%, 1);
}

#box2:hover {
    background-color: hsla(97, 53%, 56%, 1);
}

#box3:hover {
    background-color: hsla(30, 79%, 55%, 1);
}

/*end section1*/
/*start section2*/
#whatWeDo {
    text-align: center;
    align-content: center;
    background-image: url("img/solutions-bg.png");
    background-repeat: repeat;
    background: radial-gradient(circle, #47c3f0, #329CCE);

    color: white;
}

#whatWeDo h1 {
    font-weight: normal;
}

.whatwedoimg {
    width: 110px;
    background-repeat: no-repeat;
    background-position: top;
    display: inline-table;
    height: auto;
    font-size: 0.8rem;
    margin-left: -5px;
}

.whatwedoimg p {
    padding-top: 60px;
}

/*need to make the p hover affect on img too*/
#transformIcons {
    background-image: url("img/solution_icon_biz-transform.png");
}

#transformIcons:hover {
    background-image: url("img/solution_icon_biz-transform_hover.png");
}

#personalIcon:hover {
    background-image: url("img/solution_icon_personal_hover.png");
}

#personalIcon {
    background-image: url("img/solution_icon_personal.png");
}

#smartIcon:hover {
    background-image: url("img/solution_icon_smart-money_hover.png");
}

#smartIcon {
    background-image: url("img/solution_icon_smart-money.png");
}

#optimizeIcon:hover {
    background-image: url("img/solution_icon_optimize-efficnt_hover.png");
}

#optimizeIcon {
    background-image: url("img/solution_icon_optimize-efficnt.png");
}

#ditiIcon {
    background-image: url("img/solution_icon_diti-cx.png");
}

#ditiIcon:hover {
    background-image: url("img/solution_icon_diti-cx_hover.png");
}

#bizIcon {
    background-image: url("img/solution_icon_biz-analitics.png");

}

#bizIcon:hover {
    background-image: url("img/solution_icon_biz-analitics_hover.png");
}

.whatwedoimg img {
    max-width: 6.7rem;
    height: auto;

}

#whatWeDo button {
    display: inline-block;
}

/*end section2*/
/*start section3*/
#whatsHappeningsec {
    text-align: center;
    color: white;
    font-weight: normal;
    background-image: url(img/news-and-events-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.happeningDiv {
    text-align: left;
    position: relative;
    display: inline-table;
    margin-right: 1.8rem;
}

.happeningBox {
    position: relative;
    display: inline-table;
    width: 12rem;
    height: 1rem;
    text-align: left;
    border: 0;
    background-color: hsla(0, 100%, 100%, 0.5);
    box-shadow: 1px 1px 2px gray;
    bottom: 0;
    font-size: 0.9rem;
    color: white;
}

.happeningBox .happeningDate {
    margin: 0.4rem;
    display: inline-block;
    float: left;
    text-align: center;
    max-width: 8rem;
    background-color: #329CCE;
}

h1 {
    font-weight: normal;
}

.happeningDate h3 {
    font-weight: normal;
    margin: 0;
    display: inline-block;
    font-size: 2rem;
    font-weight: normal;

}

.happeningDiv h2 {
    font-weight: normal;
    margin: 0.5rem;
}

.happeningBox p {
    font-size: 0.5rem;
}

.happeningDiv a {
    color: #f5f5f0;
    text-decoration: none;
    margin: 0.4rem;
    display: block;
    font-size: 0.8rem;
}

.happeningDiv a:hover {
    box-shadow: #f5f5f0;
    color: black;
}

/*another h2 above 3rd box*/
.hiddenElement {
    visibility: hidden;
}

/*end section3*/
/*start section4*/

#succesStoriesSec {
    display: block;
    text-align: center;
    align-content: center;
    background-color: #f5f5f0;
}

#successCenter {
    text-align: center;
    align-content: center;
    display: inline-block;
    width: 70%;
    margin: 0rem;
}

#successCenter h4 {
    font-size: 0.9rem;
}

.columns {
    float: left;
}

.columns::after {
    content: '';
    display: inline-block;
    clear: both;
}

/*left column*/

.leftColumn {
    position: relative;
    display: inline-block;
    width: 300px;
    margin-right: 0px;
}

.smallSuccessbox1 {
    display: inline-block;
    margin-top: 0.2rem;
}

.iconHover1, [alt="mtsIcon"], [alt="tataSkyIcon"], [alt="upcIcon"] {
    float: left;
    width: 97px;
    height: auto;
    transition: all 200ms;
}

.iconHover1, [alt="mtsIcon"], [alt="tataSkyIcon"] {
    margin-right: 4px;
}

[alt="greyQuote"] {
    display: inline-block;
    position: relative;
    margin-bottom: 4rem;
}

.largeSuccessbox {
    width: 300px;
    display: inline-table;
    text-align: left;
    background-color: white;
}

.largeSuccessbox hr {
    margin-top: 2rem;
    margin-bottom: 2.3rem;
}

.largeSuccessbox p {
    float: right;
}

.nameAndrole {
    display: inline-block;
    margin: 0.5rem;
    left: 0px;
}

.largeSuccessbox h4 {
    margin: 0px;
}

[alt="cableWirelessIcon"] {
    display: inline;
    right: 0px;
}

/*end left column*/
/*start middle column*/
.middleColumn {
    position: relative;
    vertical-align: top;
    display: inline-block;
    width: 300px;
}

[alt="Jersey_Telecom"] {
    float: right;
}

.smallSuccessbox2 {
    display: inline-block;
    margin-bottom: 0rem;
}

.iconHover2, [alt="maxIcon"], [alt="KyivstarIcon"], [alt="VIDEOIcon"] {
    float: left;
    width: 97px;
    height: auto;
    transition: all 200ms;
}

.iconHover2, [alt="maxIcon"], [alt="KyivstarIcon"] {
    margin-right: 4px;
}

[alt="greyQuote"] {
    display: inline-block;
    position: relative;
    margin-bottom: 4rem;
}

.largeSuccessbox2 {
    width: 300px;
    display: inline-table;
    position: relative;
    padding-bottom: 1.8rem;
    text-align: left;
    background-color: white;
}

.largeSuccessbox2 hr {
    margin-top: 1rem;
    margin-bottom: 0rem;
}

.largeSuccessbox2 p {
    font-size: 0.8rem;
    display: inline;
    float: right;
}

.nameAndrole2 {
    position: relative;
    display: inline-table;
    margin-left: 0.5rem;
    top: 0px;
    left: 0px;
}

.nameAndrole2 p {
    position: absolute;
    left: 0rem;
    margin: 0rem;
}

.largeSuccessbox2 h4 {
    margin-bottom: 0px;
}

[alt="Jersey_Telecom"] {
    display: inline;
    right: 0px;
}

/*rightcolumn*/
.rightColmun {
    position: relative;
    top: 0px;
    text-align: left;
    display: inline-block;
    width: 200px;
    vertical-align: top;
}

#greyquotelast {
    float: left;
}

[alt="multilinksIcon"] {
    float: right;
}

.middleSuccessbox {
    background-color: white;
    margin-bottom: 0.2rem;
    padding-bottom: 28px;
}

.middleSuccessbox p {
    position: relative;
    display: inline;
    font-size: 0.9rem;
    margin-bottom: 3rem;
}

.middleSuccessbox hr {
    margin: 1rem;
}

.middleSuccessbox div h4 {
    margin: 0px;
}

.middleSuccessbox div img {
    float: right;
}

.nameAndrole3 {
    position: relative;
    display: inline-table;
    margin-left: 0.5rem;
    top: 0px;
    left: 0px;
}

.iconHover3, [alt="playwicon"], [alt="mobIcon"] {
    display: inline;
    max-width: 6.1rem;
    height: auto;
}

.iconHover2 {
    margin: 0;
}

#successCenter button {
    display: inline-block;
}

/*hovers*/
.hoverable {
    overflow-y: hidden;
    height: 232px;
    background-color: #47A2CF;
    left: 0;
}
#BTCBox {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 200ms;
}

#BTCboxhover {
    height: 233px;
    background-color: #47A2CF;
}
.btcWrapper {
    position: relative;
}

.hoverable:hover #BTCBox {
    transform: translateY(-100%);
}

.grameWrapper {
    position: relative;
}

#grameMillerBox {
    position: absolute;
    height: 203px;
    left: 0;
    transition: all 200ms;
}

#grameMillerBoxhover {
    overflow-y: hidden;
    height: 232px;
    background-color: #47A2CF;
}

.hoverable:hover #grameMillerBox {
    transform: translateY(-100%);
}
.iconHover1 {
    position: relative;
    overflow: hidden;
}

.middleSuccessbox {
    position: absolute;
    width: 200px;
    top: 0px;
    height: 202px;
    left: 0;
}

#rightBoxhover {
    height: 230px;
    background-color: #47A2CF;
    margin-bottom: 5px;
}

.hoverable:hover .middleSuccessbox {
    display: none;
}

.hoverable {
    overflow: hidden;
}

.iconHover1,
.iconHover2,
.iconHover3 {
    cursor: pointer;
}

.iconHover1:hover img,
.iconHover2:hover img,
.iconHover3:hover img {
    content: url("img/logos_generic_2nd_side_cut_02_w108px_x_h95px.jpg");
}

[alt="maxIcon"], [alt="KyivstarIcon"], [alt="VIDEOIcon"],
[alt="mtsIcon"], [alt="tataSkyIcon"], [alt="upcIcon"]
[alt="playwicon"], [alt="mobIcon"] {

}

[alt="maxIcon"]:hover, [alt="KyivstarIcon"]:hover, [alt="VIDEOIcon"]:hover,
[alt="mtsIcon"]:hover, [alt="tataSkyIcon"]:hover, [alt="upcIcon"]:hover
[alt="playwicon"]:hover, [alt="mobIcon"]:hover {
}

/*end section4*/
/*start footer*/
footer div {
    margin: auto;
    width: 60%;
    padding: 10px;
}

footer {
    display: inline-block;
    background-image: url("img/solutions-bg.png");
    background-repeat: repeat;
    background-color: rgba(0, 0, 0, 0.79);
    width: 100%;
}

footer div section {
    display: inline-table;
    margin-right: 40px;
    color: white;
    font-size: 0.7rem;
}

.footerRight {
    float: right;
    margin-top: -10px;
    margin-right: 0px;
    padding-bottom: 26px;
    background-color: rgba(91, 91, 91, 0.8);
    text-align: center;
    width: 210px;

}

footer ul li a {
    color: white;
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: underline;
}

footer ul {
    padding: 0;
    list-style: none;
}

.footerRight h2 {
    display: block;
    color: #47c3f0;
}

.footerDate {
    display: inline-block;
    font-size: 1rem;
    width: 50px;
    margin: 0px;
}

.footerDate span {
    display: block;
    font-size: 2rem;

}

.footerRight p {
    text-align: left;
    font-size: 0.8rem;
    display: inline-block;
    width: 120px;
}

.footerRight label {
    width: 210px;
}

.footerRight input {
    border: 0;
    padding: 0.3rem;
    max-width: 150px;
    height: auto;
    border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
}

.footerRight input[type="submit"] {
    margin-left: -25px;
    background-color: #47c3f0;
    color: white;
}